.header {
    display: flex;
    justify-content: center;
    align-items: center;


    color: aliceblue;

    padding: 2vh 1vw; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 2vw; 

    flex-direction: column;
}

mat-card {
    width: 95%; 

    max-width: 800px; 
    margin-bottom: 2vh;
}

.form {
    display: flex;
    flex-direction: column; 
    
    align-items: stretch;
}

.todo-input-field {
    padding-top: 1vh; 
    padding-inline: 1vw; 
    flex-grow: 1; 
}

.form button {
    margin-top: 1vh; 
}




@media (min-width: 768px) { 
    .form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .form button {
        margin-top: 0;
    }
    
}